{% extends 'szablon.html' %}
{% block tytul %}Studenci – uczelnie{% endblock tytul %}

{% block naglowek %}Uczelnie{% endblock naglowek %}
{% block tresc %}
<h2>Dodaj uczelnię</h2>
<form action="." method="POST">
    {% csrf_token %}
    <!-- <input type="text" name="nazwa" maxlength="30">
    <br> -->
    {{ form.as_p }}
    <input type="submit" value="Zapisz">
</form>

<h2>Lista uczelni</h2>
<ol>
    {% for uczelnia in uczelnie %}
        <li>{{ uczelnia.nazwa }}</li>
    {% endfor %}
</ol>
{% endblock tresc %}