{% extends 'szablon.html' %}
{% block naglowek %}Miasta{% endblock naglowek %}

{% block tresc %}
    {% load crispy_forms_tags %}
<h2>Dodaj miasto</h2>

            <form method="POST">
                {%  csrf_token %}
                {{ form|crispy }}
            <input type="submit" value="Zapisz"
            </form>

<h2>Lista miast</h2>
<ol>
    {% for miasto in miasta %}
        <li>{{ miasto.nazwa }}&nbsp;{{ miasto.kod }} -
            <a href="{% url 'studenci:miasta_edytuj' miasto.id %}" class="btn btn-sm">Edytuj</a>
        </li>
    {% endfor %}
</ol>
{% endblock tresc %}
